* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: white;
  color: white;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
}

#form{
  text-align: center;
  color: black;
}

#gif-header{
  color: black;
}

#gif-search{
  display: flex;
  text-align: center;
  justify-content: center; 
  padding-bottom: 10px;
}
.gif-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:black;
  margin: 1%; 
  height: 80px;
}

